h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    
}
div{
    background-color: rgba(185, 82, 9, 0.778);
    margin: 20px;
    padding: 40px
    
}
div{
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.61);
    
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    
}
h3{
    text-align: center;
    text-decoration: underline;
}